header h1 {
    align-content: center;
}

#boards {
    padding: 50px 0 15px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
}

.board {
    border: 1px solid var(--interface-main-color);
    width: 100%;
    padding: 15px;
    gap: 0 !important;
}

.board-head {
    width: 100%;
    border-bottom: 1px dashed var(--interface-main-color);
    justify-content: space-between;
    margin-bottom: 15px;
}

.tasks {
    width: 100%;
}

.task, .create-task {
    display: grid;
    grid-template-columns: 150px calc(100% - 320px) 75px 50px;
    gap: 15px;
    align-items: flex-start;
    padding: 15px 0 15px 10px;
}

.task button.simple {
    padding: 0 15px;
    margin: -2px 0;
}

.task p {
    line-height: 20px;
}

textarea {
    height: 83px;
    font-size: .8rem;
    line-height: 20px;
}

.task, .create-task p {
    word-wrap: break-word;
}

.task:hover {
    background-color: var(--interface-main-background);
}

.editing-row {
    width: calc(100% - 15px);
    padding-left: 15px;
    display: grid;
    grid-template-columns: 150px auto 155px 50px;
    gap: 15px;
    font-size: .8rem;
}

.create-task {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px dashed var(--interface-main-color);
    gap: 3px;
}

.create-task .row {
    width: 100%;
    display: grid;
    grid-template-columns: 150px auto 155px 50px;
    gap: 15px;
    font-size: .8rem;
}

.create-task .row p {
    padding-left: 5px;
}

.create-board {
    display: flex;
    justify-content: center;
}

.create-board .preview button {
    display: flex;
    gap: 15px;
}

.create-board .preview button .horizontal-line {
    align-self: center;
    height: 0;
    width: 200px;
    border-top: 1px solid gray;
}

.create-board .preview button:hover .horizontal-line,
.create-board .preview button:focus .horizontal-line {
    border-color: var(--interface-main-color);
}

.create-board .create-form {
    display: flex;
    gap: 15px;
    align-content: center;
}
